<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=blogConfig.title%> | Edit post</title>
    <meta name="description" content="<%=blogConfig.description%>">
    <meta name="keywords" content="<%=blogConfig.keywords%>">
    <meta name="author" content="<%=blogConfig.author%>">
    <meta name="robots" content="<%=blogConfig.robots%>" />
    <link rel="icon" href="../flatui/img/<%=blogConfig.favicon%>">
    <link rel="stylesheet" href="../../flatui/css/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../flatui/css/flat-ui.css">
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <style>
        h1,h2,h3,h4,h5 {
            font: Helvetica, Arial, sans-serif;
            font-weight: 100;
        }
        h5, .post-info{
            color: #aaa;
        }
        .post-title {
            margin-top: 0px;
            font-weight: 600;
        }
        .blog-title {

        }
        .blog-description {
            color: #aaa;
        }
        .single-article {
            margin-bottom: 80px;
        }
        .footer {
            text-align: center;
        }
        .fui {
            font-size: 32px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="/dashboard/" class="list-group-item">Home</a>
                            <a href="/dashboard/new" class="list-group-item">Write post</a>
                            <a href="/dashboard/posts" class="list-group-item">All posts</a>
                            <a href="/logout" class="list-group-item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="well">
                            <h1>Edit post</h1>
                            <form action="/dashboard/edit-post" method="post">
                                <b>Title</b>
                                <input type="text" class="form-control" name="title" value="<%=post.title%>">
                                <b>Tags (separated by comma)</b>
                                <input type="text" class="form-control" name="tags" value="<%=post.tags%>">
                                <b>Content</b>
                                <textarea rows="15"><%=post.content%></textarea>
                                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
