<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=header.title%></title>
  <meta name="description" content="<%=header.description%>">
  <meta name="keywords" content="<%=header.keywords%>">
  <meta name="author" content="<%=header.author%>">
  <meta name="robots" content="<%=header.robots%>" />
  <link rel="icon" href="<%=header.favicon%>">
  <link rel="stylesheet" href="css/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/flat-ui.css">
  <style>
    h1,h2,h3,h4,h5 {
      font: Helvetica, Arial, sans-serif;
      font-weight: 100;
    }
    h5, .post-info{
      color: #aaa;
    }
    .post-title {
      margin-top: 0px;
    }
    .blog-title {

    }
    .blog-description {
      color: #aaa;
    }
    .single-article {
      margin-bottom: 80px;
    }
    .footer {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">

    <!-- header -->
    <div class="row" style="margin-top: 200px;">
      <div class="col-md-8 col-md-offset-2">
        <center>
          <a href="/">
            <% if(blog.logo){ %>
              <img src="<%=blog.logo%>">
            <% } else { %>
            <h1 class="blog-title"><%=blog.title%></h1>
            <% } %>
            <h5 class="blog-description"><%=blog.description%></h5>
          </a>
        </center>
      </div>
    </div>

    <!-- post section -->
    <div class="row" style="margin-top: 100px;">
      <div class="col-md-8 col-md-offset-2">
        <div class="single-article">
          <a href="#">
            <i class="post-info">March 21, 2016 by Herbaciarz</i>
            <h3 class="post-title">Title</h3>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto voluptatibus rerum assumenda repudiandae, nostrum. Necessitatibus, sapiente, omnis! Excepturi fugit numquam eveniet fuga reprehenderit quos odio, qui unde iusto impedit exercitationem, eos itaque voluptatibus modi! Eos aperiam non neque! Consequuntur aperiam recusandae quas architecto magni unde natus eum at ipsa commodi.
          </p>
          <a href="#" class="pull-right">Read more</a>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="row" style="margin-top: 100px;">
      <div class="col-md-8 col-md-offset-2">
        <hr>
        <p class="footer" id="footer"> <%=blog.writter%></p>
      </div>
    </div>


  </div>
</body>
<script>
  let date = new Date();
  document.getElementById('footer').innerHTML = '&copy; ' + date.getFullYear() + document.getElementById('footer').innerHTML;
</script>
</html>
