<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=header.title%></title>
  <meta name="description" content="<%=header.description%>">
  <meta name="keywords" content="<%=header.keywords%>">
  <meta name="author" content="<%=header.author%>">
  <meta name="robots" content="<%=header.robots%>" />
  <link rel="icon" href="<%=header.favicon%>">
</head>
<body>

</body>
</html>
