<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=core.title%></title>
  <meta name="description" content="<%=core.description%>">
  <meta name="keywords" content="<%=core.keywords%>">
  <meta name="author" content="<%=core.author%>">
  <meta name="robots" content="<%=core.robots%>" />
  <link rel="icon" href="<%=core.favicon%>">
</head>
<body>

</body>
</html>
